*, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
.video-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    border-top: 4px solid #CCC;
}

.video-section:first-child{
    border-top: none;
}
.video-container{
    display: flex;
    flex-direction: column;
}

.thumbnail{
    position: relative;
    display:flex;
}

.thumbnail-image{
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #AAA;
}
/* duration */
.thumbnail::before{
    content: attr(data-duration);
    position: absolute;
    background-color: black;
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: .9rem;
}

.channel-image{
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;

}

.video-bottom-section{
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.video-details{
    display: flex;
    flex-direction: column;
}
.video-title{
    font-weight: bold;
    color: black;
    margin-bottom: .5rem;
    text-decoration: none;
    font-size: 1.1rem;
}

.video-section-title{
    grid-column: 1/-1; /*takes up entire row */
    margin: -.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.video-section-title-close{
    background: none;
    border: none;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
}
.channel-name, .video-metadata{
    margin-bottom: .1rem;
    text-decoration: none;
    color: #555;
    transition: color 150ms;
}

.channel-name:hover{
    color: gray;
}
